<html lang="en">
<head>
    <title>How to use svg icons in Django templates? - MvT</title>
    <meta name="section" content="blog" />
    <link rel="prev" href="/blog/conf_2016.html" />
    <link rel="next" href="/blog/css-js-tooltip.html" />
    <meta name="description" content="This blog post explains how you can use svg sprite and symbols in your django template." />
</head>
<body>
    <h1>How to use svg icons in Django templates?</h1>
    <p>October 4, 2016</p>
    <p>I am accustomed to use icon fonts in our projects at Dreamsolution, which are created with
<a href="https://rsp.github.io/fontcustom/" target="_blank" rel="norefferer">Fontcustom</a>. It is a nice tool to
generate the font icon from our own svg icons. Using the icon font in the last 3
years I always bump into some styling issues. The icon font has anti-alias and
doesn't get as sharp as vector images. The most annoying thing is positioning
the icon next another element or text. You have to take into account the vertical
alignment, line-height, letter-spacing etc, after all, it is a font. To position
it correctly in the latest browsers, you have to do a lot of tweaking.</p>

<p>I was curious if you can use svg icons in an maintainable way. After
reading the article on
<a href="https://css-tricks.com/svg-symbol-good-choice-icons/" target="_blank" rel="norefferer">CSS-tricks</a>
about svg symbols and Sara Soueidans' article about
<a href="https://24ways.org/2014/an-overview-of-svg-sprite-creation-techniques/" target="_blank" rel="norefferer">
svg sprites</a>, I created a little demo page using this technique and discussed
it with my colleagues to give this technique a chance in one of our projects.
Because of the great advantages of svg, the decision was easily made.</p>

<p>The project we started to use svg symbols is build with Django Framework.
The svg icons are created separately and placed in a folder called *svg-icons*. This folder is purely for version control.</p>

<p>In the *templates* directory I created the include template file *include_icon_sprite.html*.
It is a html file because at the time of writing we still need to support IE and IE does
not support xlink to an svg file. I include this file in the base template at
the bottom of the page. Using "include" in the file name we know it is a
template snippet. In this file I have one svg file which contains all the symbols.
The symbol contains the svg code copied from each svg icon from the *svg-icons*
directory.</p>

<p>In the code snippet you'll notice the class *svg-sprite*. If you do not hide the svg, all the icons will be displayed. In your Sass or CSS file you set .svg-sprite { display: none; }.</p>

<pre rel="SVG icon sprite">
<code>
&lt;svg xmlns="http://www.w3.org/2000/svg"
        xmlns:xlink="http://www.w3.org/1999/xlink" class="svg-sprite"
        viewBox="0 0 512 512" &gt;
    &lt;symbol id="filter"&gt;
        &lt;path d="M0 26h512v51.206L307.21 333.213v153.6l-102.404-51.208V333.213L0 77.206V26z" /&gt;
    &lt;/symbol&gt;
    &lt;symbol id="home"&gt;
        &lt;path d="M512 296l-96-96V56h-64v80l-96-96L0 296v16h64v160h160v-96h64v96h160V312h64v-16z" /&gt;
    &lt;/symbol&gt;
&lt;/svg&gt;
</code>
</pre>

<p>To use a symbol you could place the following code in the template every time you need an icon:</p>
<pre rel="html">
<code>
&lt;ul&gt;
    &lt;li&gt;
        &lt;a href="{% url "home" %}" class="menu-item"&gt;
            &lt;svg viewBox="0 0 512 512" class="icon-home">
                &lt;use xlink:href="#home"&gt;&lt;/use&gt;
            &lt;/svg&gt;
            Home
        &lt;/a&gt;
    &lt;/li&gt;
    &lt;li&gt;
        &lt;a href="{% url "filter" %}" class="menu-item"&gt;
            &lt;svg viewBox="0 0 512 512" class="icon-home">
                &lt;use xlink:href="#filter"&gt;&lt;/use&gt;
            &lt;/svg&gt;
            Filter
        &lt;/a&gt;
    &lt;/li&gt;
&lt;/ul&gt;
</code></pre>

<p>Instead of typing this every time I need an icon, I created a template tag called
*icon.py*. In the djangoproject documentation you can find more information about <a href="https://docs.djangoproject.com/en/1.10/howto/custom-template-tags/#writing-custom-template-tags" target="_blank" rel="norefferer">custom template tags</a>.</p>

<pre rel="icon.py">
<code class="python">
from django import template
from django.utils.safestring import mark_safe
from django.utils.html import format_html

register = template.Library()


@register.simple_tag(name='svg_icon')
def svg_icon(icon_name, extra_class=''):
    svg_tag = format_html('&lt;svg viewBox="0 0 512 512" width="10" height="10"'
        'class="icon-{name} {extra}"&gt;'
        '&lt;use xlink:href="#{name}"&gt;&lt;/use&gt;'
        '&lt;/svg&gt;', name=icon_name, extra=extra_class)

    return mark_safe(svg_tag)
</code></pre>

<p>This custom tag has 2 variables, the *icon_name* and *extra_class*. If you need a specific styling for the icon you can set an extra class. To use the custom template tag in your template you have to load the template tag in your Django template and you are ready to go:</p>

<pre rel="Django HTML">
<code class="django">
{% load icon %}
&lt;ul&gt;
    &lt;li&gt;
        &lt;a href="{% url "home" %}" class="menu-item"&gt;
            {% svg_icon "home" %} Home
        &lt;/a&gt;
    &lt;/li&gt;
    &lt;li&gt;
        &lt;a href="{% url "filter" %}" class="menu-item"&gt;
            {% svg_icon "filter" %} Filter
        &lt;/a&gt;
    &lt;/li&gt;
&lt;/ul&gt;
</code></pre>

<p>The only thing left to do is to give the icon a width/height and a color. In this example all the icons get the same styling.</p>

<pre rel="CSS">
<code>
[class^="icon-"] {
    width: 2rem;
    height: auto;
    fill: #222;
}
</code>
</pre>

<p>This is a short tutorial how to use svg icons in Django templates. I hope this article is useful for you.</p>
</body>
</html>
