@import url(atom-one-light.min.css);

:root {
    --font-generic: arial, helvetica, sans-serif;
    --c-primary: #7cb342;
    --c-text: #3c4946;
    --c-shadow: var(--c-text);
    --c-hover: #558b2f;
}

@font-face {
    font-family: "Source Sans Pro";
     src: url('fonts/SourceSansPro-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Source Sans Pro";
     src: url('fonts/SourceSansPro-Semibold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: "Source Sans Pro";
     src: url('fonts/SourceSansPro-SemiboldItalic.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: "Source Sans Pro";
     src: url('fonts/SourceSansPro-Italic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: "Droid Sans Mono";
     src: url('fonts/DroidSansMono.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

* { box-sizing: border-box; }

/*
    * 1: Computes to 10px by the browsers so we can use rem the nice way
    * 2: Specifies a size adjustment for displaying text content on smartphones.
*/

html {
    height: 100%;
    font-size: 62.5%; /* 1 */
    color: var(--c-text);
    text-size-adjust: 100%; /* 2 */
    -webkit-font-smoothing: antialiased;
    font-feature-settings: "liga", "kern";
    background-color: #fff;
}

body {
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: "Source Sans Pro", var(--font-generic);
    font-size: 1.8rem;
}

.scroll-disabled { overflow: hidden; }
.no-display { display: none; }


main {
    max-width: 140rem;
    margin: 0 auto;
    padding: 12vw 6vw 6vw;
}

main h1:first-of-type { margin-top: 0; }

a {
    transition: color 0.25s;
    color: var(--c-primary);
}

a:hover { color: var(--c-hover); }

h2 a,
h3 a,
h4 a,
h5 a,
h6 a {
    text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: normal;
    color: var(--c-primary);
}

h1 { font-size: 5rem; }
h2 { font-size: 3.6rem; }
h3 { font-size: 3rem; }
h4 { font-size: 2.8rem; }
h5 { font-size: 2.4rem; }
h6 { font-size: 2rem; }

h1,
h2 { margin-bottom: 1.5rem; }

h3,
h4,
h5,
h6 { margin-bottom: 0; }

p {
    margin-top: 1.8rem;
    margin-bottom: 1.8rem;
}

h3 + p { margin-top: 0.4rem; }

cite {
    display: block;
    font-size: 90%;
    font-style: normal;
    font-weight: normal;
}

/* blockquote */
blockquote {
    position: relative;
    margin-left: 0;
    padding-left: 3.5rem;
    font-size: 111%;
    font-weight: bold;
    font-style: italic;
}

blockquote::before {
    position: absolute;
    top: 0;
    left: 0;
    font-size: 333.33%;
    content: "\2018";
    color: var(--c-primary);
    line-height: 71%;
}
/* @End blockquote */


/* figure */
figure {
    margin: 0;
    text-align: center;
}

figure img {
    display: inline-block;
    border: 10px solid #fff;
    box-shadow: 0 0 8px 0 rgba(60, 73, 70, 0.6);
    max-width: 100%;
}

figure + p { margin-top: 2rem; }

figcaption {
    margin-top: 0.5rem;
    font-style: italic;
    font-size: 83.33%;
    color: lighten($c-text, 30%);
}
/* @End figure */


/* -------------- */
/* HEADER + MENU */

header {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 6rem;
    padding-right: 2rem;
    font-size: 1.6rem;
    background-color: var(--c-primary);
}

/* Hamburger */
.hamburger-wrapper {
    display: flex;
    align-items: center;;
    position: relative;
    margin-left: auto;
    width: 8.5rem;
    height: 6rem;
    color: #fff;
    cursor: pointer;
}

.menu-text {
    font-weight: bold;
    font-size: 1.8rem;
    margin-left: 1.5rem;
}

.hamburger {
    flex: 0 0 21px;
    transform: translateZ(0);
    transition: transform 0.5s, background-color 0.3s;
    position: relative;
    width: 20px;
    height: 2px;
    background-color: #fff;

}

.hamburger::after,
.hamburger::before {
    transition: transform 0.5s, background-color 0.3s;
    position: absolute;
    display: block;
    width: 21px;
    height: 2px;
    content: "";
    background-color: #fff;
}

.hamburger::after { top: 6px; }
.hamburger::before { top: -6px; }


/* Menu */
nav {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: visibility 400ms ease-in-out, opacity 400ms ease-in-out;
    visibility: hidden;
    opacity: 0;
    background-color: rgba(23, 47, 14, 0.95);
}

[role="menuitem"] {
    position: relative;
    display: block;
    width: 25vw;
    min-width: 25rem;
    margin-bottom: 3rem;
    font-size: 3.5rem;
    color: #fff;
    text-align: center;
    text-decoration: none;
    opacity: 0;
    transition: opacity 350ms ease-out;
}

[role="menuitem"]::after {
    display: block;
    margin-top: 0.75rem;
    height: 1px;
    content: "";
    background: linear-gradient(to right,
        rgba(255, 255, 255, 0) 0,
        #fff 25%,
        #fff 75%,
        rgba(255, 255, 255, 0) 100%);
}

[role="menuitem"] span::before,
[role="menuitem"] span::after {
    display: inline-block;
    opacity: 0;
    transition: opacity 0.5s, transform 0.5s;
}

[role="menuitem"] span::before {
    content: "{";
    padding-right: 0.75rem;
    transform: translateX(2rem);
}

[role="menuitem"] span::after {
    content: "}";
    padding-left: 0.75rem;
    transform: translateX(-2rem);
}

[role="menuitem"]:hover { color: #fff; }

[role="menuitem"].selected span::before,
[role="menuitem"].selected span::after,
[role="menuitem"]:hover span::before,
[role="menuitem"]:hover span::after {
    opacity: 1;
    transform: translateX(0);
}

/* Toggle menu */
.toggle-menu {
    position: absolute;
    top: -30px;
    opacity: 0;
}

.toggle-menu:checked + header .hamburger { background-color: transparent; }

.toggle-menu:checked + header  .hamburger::before {
    transform: translateY(6px) rotate(45deg);
}

.toggle-menu:checked + header  .hamburger::after {
    transform: translateY(-6px) rotate(-45deg);
}

.toggle-menu:checked + header nav {
    visibility: visible;
    opacity: 1;
}

/* animate menu items */
.toggle-menu:checked + header [role="menuitem"] {
    --no: 1;
    --delay: calc(220ms * var(--no));
    transition-delay: var(--delay);
    opacity: 1;
}

.toggle-menu:checked + header [role="menuitem"]:nth-of-type(2) { --no: 2; }
.toggle-menu:checked + header [role="menuitem"]:nth-of-type(3) { --no: 3; }
.toggle-menu:checked + header [role="menuitem"]:nth-of-type(4) { --no: 4; }
/* @end menu item animation */


/* @END HEADER + MENU */
/* ------------------ */


/* read more */
.fill-color { fill: currentColor; }

.read-more {
    display: flex;
    align-items: center;
    margin-top: 0.8rem;
    text-decoration: none;
}

.read-more:hover svg { fill: var(--c-hover); }

.read-more span,
.read-more svg { display: block; }

.read-more svg {
    width: 1.8rem;
    height: 1.8rem;
    margin-top: 1px;
    margin-left: 1rem;
    transition: fill 0.25s;
    fill: var(--c-primary);
    color: #fff;
}
/* @End read more */


/* **** HOMEPAGE **** */
.page-home {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 8rem;
}

.block-home {
    position: relative;
    padding-bottom: 6rem;
    border-bottom: 1px solid rgba(60,73,70,.25);
}

    .block-home .read-more {
        position: absolute;
        bottom: 1rem;
    }

    .block-home:nth-of-type(2) .block-home-visual .img-border {
        background-color: var(--c-primary);
    }


.block-home-visual { perspective: 200px; }

/* homepage img border */
.img-border {
    display: block;
    width: 12.5rem;
    height: 12.5rem;
    margin: 0 auto;
    border: 2px solid #fff;
    box-shadow: 0 0 4px 0 var(--c-shadow);
    transition: transform 0.75s ease;
}

.img-border:hover {transform: rotateX(8deg); }
.img-border img { vertical-align: top; }

.img-border .icon-blog {
    display: block;
    margin: 2rem auto 0;
    width: 8.1rem;
    height: 8.1rem;
    fill: #fff;
}
/* @End homepage img border */

@media screen and (min-width: 32.375em) {
    .block-home {
        --no: 1;
        --delay: calc(440ms * var(--no));

        opacity: 0;
        animation: blocksAnim 0.75s ease-out forwards;
        animation-delay: var(--delay);
    }

    .block-home:nth-child(2) { --no: 2; }
    .block-home:nth-child(3) { --no: 3; }
}

@keyframes blocksAnim {
    from {
        opacity: 0.25;
        transform: scale(0.7) translate3d(0, 0, 0);
    }

    to {
        opacity: 1;
        transform: scale(1) translate3d(0, 0, 0);
    }
}

/* **** @END HOMEPAGE **** */
/* ----------------------- */


/* **** BLOG PAGE *** */

.page-blog { max-width: 96rem; }

.page-blog ul {
    margin: 0 0 1.5rem;
    padding: 0;
    list-style-type: none;
}

.page-blog ul li {
    position: relative;
    padding-left: 2.5rem;
}

.page-blog ul li::before {
    position: absolute;
    left: 0;
    top: 7px;
    display: block;
    width: 1rem;
    height: 1rem;
    content: "";
    background-color: var(--c-primary);
}

/* next + prev arrows */
.nav-arrows {
    width: 12rem;
    margin: 0 auto 30px;
}

.nav-arrows a { display: inline-block; }

.nav-arrows svg {
    width: 3.2rem;
    height: 3.2rem;
    fill: var(--c-primary);
    color: #fff;
    transition: fill 0.15s;
}

.nav-arrows svg:hover { fill: var(--c-hover); }
.nav-arrows svg:first-child { margin-right: 2.5rem; }
/* @End next + prev arrows */

/* Code styling */
pre {
    position: relative;
    margin: 0.5rem 1rem 2rem;
    padding: 0;
    overflow: auto;
    /* background: rgba(#c8d1cf, 0.15); */
    white-space: normal;
    font-size: 1.5rem;
    border: 1px solid var(--c-primary);
}

pre[rel] { padding-top: 33px; }

pre::before {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    padding: 0.8rem 0;
    text-indent: 1.5rem;
    color: #fff;
    font-weight: bold;
    font-size: 133%;
    content: attr(rel);
    background-color: var(--c-primary);
}

code {
    display: block;
    overflow: auto;
    margin: 0;
    padding: 1.5rem;
    white-space: pre;
    font-family: "Droid Sans Mono";
}

/* @End code styling */

/* pie chart example */
.svg-piechart-example {
    width: 60vw;
    height: 40vh;
    margin-top: 4vh;
    margin-bottom: 4vh;
}

.svg-piechart-example svg {
    width: 100%;
    height: 100%;
}
/* @End pie chart example */

/* bar chart example */
.svg-bar-example {
    max-width: 45vw;
    height: auto;
    margin-top: 4rem;
    margin-left: auto;
    margin-right: auto;
}

.svg-bar-example svg {
    width: 100%;
    height: 100%;
}

.bar-legend { font-size: 6px; }
/*.barchart_line { stroke: rgba($c-shadow, 0.5); }*/
.barchart_line { stroke: #ddd; }

.bar-6,
.bar-7 { stroke: var(--c-primary); }

button {
    padding: 0.5rem 1rem;
    font-family: "Source Sans Pro", var(--font-generic);
    font-size: 1.8rem;
    color: #fff;
    background-color: var(--c-primary);
    border: none;
    border-radius: 0.4rem;
    transition: background-color 0.3s;

}

button:hover { background-color: var(--c-hover); }

/* @End bar chart example */

/* **** @END BLOG PAGE **** */
/* ----------------------- */
