@import 'rainbow.min.css' layer(code-highlight);

@layer base, code-highlight, navigation, utilities;

@layer base {
    :root {
        --font-generic: arial, helvetica, sans-serif;
        --c-primary: #5d9464;
        --c-link: #37af76;
        --c-text: #e5eae7;
        --c-shadow: #000;
        --c-svg: #5d9464;
        --c-svg-hover: #689F29;

        --c-pie-main: #474949;
        --c-pie-text: var(--c-pie-main);
        --c-pie-inner: #b1b4b1;

        --bg-body: #272221;

        --size-nav-icon: 2rem;
    }

    @font-face {
        font-family: Karla;
        src: url('fonts/Karla-Italic-VariableFont_wght.ttf');
        font-weight: 200 800;
        font-style: italic;
        font-display: swap;
    }

    @font-face {
        font-family: Karla;
        src: url('fonts/Karla-VariableFont_wght.ttf');
        font-weight: 200 800;
        font-style: normal;
        font-display: swap;
    }

    @font-face {
        font-family: 'Roboto Mono';
        src: url('fonts/RobotoMono-VariableFont_wght.ttf');
        font-weight: 400 600;
        font-display: swap;
    }

    @font-face {
        font-family: 'Roboto Mono';
        src: url('fonts/RobotoMono-Italic-VariableFont_wght.ttf');
        font-weight: 400 600;
        font-style: italic;
        font-display: swap;
    }

    * { box-sizing: border-box; }

    html {
        height: 100%;
        font-size: 62.5%;
        color: var(--c-text);
        /* Specifies a size adjustment for displaying text content on
           smartphones. */
        text-size-adjust: 100%;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        font-feature-settings: "liga", "kern";
        background-color: var(--bg-body);
    }

    body {
        min-height: 100vh;
        margin: 0;
        padding: 0;
        font-family: Karla, var(--font-generic);
        font-weight: 300;
        font-size: 1.9rem;
        line-height: 1.22;
        background-color: var(--bg-body);
    }

    a {
        transition: color 0.25s;
        color: var(--c-link);
        text-decoration: none;
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        font-weight: 500;
        line-height: 1;
    }

    h1 { font-size: 5rem; }
    h2 { font-size: 3.6rem; }
    h3 { font-size: 3rem; }
    h4 { font-size: 2.8rem; }
    h5 { font-size: 2.4rem; }
    h6 { font-size: 2rem; }

    h1,
    h2 { margin-bottom: 1.5rem; }

    h3,
    h4,
    h5,
    h6 { margin-bottom: 1rem; }

    b,
    strong { font-weight: 700; }
    p {
        margin-top: 1.8rem;
        margin-bottom: 1.8rem;
    }

    h3 + p { margin-top: 0.4rem; }

    cite {
        display: block;
        font-size: 90%;
        font-style: normal;
        font-weight: normal;
    }

    /* blockquote */
    blockquote {
        position: relative;
        margin-left: 0;
        padding-left: 3.5rem;
        font-size: 111%;
        font-weight: bold;
        font-style: italic;
    }

    blockquote::before {
        position: absolute;
        top: 0;
        left: 0;
        font-size: 333.33%;
        content: "\2018";
        color: var(--c-primary);
        line-height: 71%;
    }
    /* @End blockquote */


    /* figure */
    figure {
        margin: 0;
        text-align: center;
    }

        figure img {
            display: inline-block;
            border: 10px solid #fff;
            box-shadow: 0 0 8px 0 rgba(60, 73, 70, 0.6);
            max-width: 100%;
        }

        figure + p { margin-top: 2rem; }

    figcaption {
        margin-top: 0.5rem;
        font-style: italic;
        font-size: 83.33%;
    }
    /* @End figure */
}

@layer navigation {
    input[name="toggle-nav"] {
        position: absolute;
        opacity: 0;
    }

    nav {
        position: fixed;
        top: 0;
        left: 50%;
        transform: translateX(-50%);
    }

    nav>label {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 38px;
        width: 42px;
        background-color: var(--c-svg);
        border-radius: 0 0 50% 50%;
    }

    nav svg {
        display: block;
        width: var(--size-nav-icon);
        height: var(--size-nav-icon);
        fill: #fff;
    }

    /* Properties for animating and positioning the menu items */
    [role="menuitem"] {
        --x-pos: 0;
        --y-pos: 0;
        --x-2-pos: 0;
        --y-2-pos: 0;
        --b-rad: 22px 2px 22px 22px;
        --delay: 10ms;
        --rotate: 0deg;

        position: absolute;
        top: 0;
        left: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 4.2rem;
        width: 4.2rem;
        text-decoration: none;
        background-color: var(--c-svg);
        border-radius: 50%;
        transform: translate(var(--x-pos), var(--y-pos)) scale(0.5);
        transform-origin: center;
    }

    nav>label .icon-plus {
        --rotate: 0deg;
        transform: rotate(var(--rotate));
        transition: transform 300ms ease-in-out;
    }


    input[name="toggle-nav"]:checked~label[for="toggle-nav"] .icon-plus {
        --rotate: 135deg;
    }

    input[name="toggle-nav"]:checked~[role="menuitem"]:nth-of-type(1) {
        --x-pos: -9px;
        --y-pos: 3px;
        --x-2-pos: -47px;
        --y-2-pos: 15px;
        --b-rad: 22px 2px 22px 22px;
        --delay: 10ms;
        --rotate: 25deg;
    }

    input[name="toggle-nav"]:checked~[role="menuitem"]:nth-of-type(2) {
        --x-2-pos: 0px;
        --y-2-pos: 47px;
        --b-rad: 2px 22px 22px 22px;
        --delay: 285ms;
        --rotate: 45deg;
    }

    input[name="toggle-nav"]:checked~[role="menuitem"]:nth-of-type(3) {
        --x-2-pos: 50px;
        --y-2-pos: 15px;
        --b-rad: 2px 22px 22px 22px;
        --delay: 575ms;
        --rotate: -10deg;
    }

    /* Counter rotate to keep svg correctly positioned */
    [role="menuitem"] svg {
        transform: rotate(calc(var(--rotate) * -1));
    }

    /* Animate navigation */
    input[name="toggle-nav"]:checked~[role="menuitem"] {
        animation: animNav1 300ms var(--delay) forwards;
    }

    @keyframes animNav1 {
        0% {
            transform: translate(var(--x-pos), var(--y-pos)) scale(0.3) rotate(var(--rotate));
            border-radius: var(--b-rad);
        }

        43% {
            border-radius: var(--b-rad);
        }

        100% {
            transform: translate(var(--x-2-pos), var(--y-2-pos)) rotate(var(--rotate));
            border-radius: 50%;
        }
    }

    .icon-mvt {
        --size-nav-icon: 3rem;
    }
}

@layer utilities {
    .bd-link { border-bottom: 0.1rem solid var(--c-link); }
    .scroll-disabled { overflow: hidden; }
    .no-display { display: none; }

    .deprecated {
        color: #ccc;
        font-style: italic;
        text-decoration: line-through;
    }

    .read-more {
        display: flex;
        align-items: center;
        margin-top: 0.8rem;
        text-decoration: none;
    }

    .read-more span,
    .read-more svg {
        display: block;
    }

    .read-more svg {
        width: 1.8rem;
        height: 1.8rem;
        margin-top: 1px;
        margin-left: 1rem;
        transition: fill 0.25s;
        fill: var(--c-primary);
        color: #fff;
    }

    /* next + prev arrows */
    .nav-arrows {
        display: flex;
        justify-content: space-between;
        width: 100px;
        margin: 0 auto 30px;
    }

    .nav-arrows:last-child { margin-top: 30px; }

    .nav-arrows a { display: block; }

    .nav-arrows svg {
        width: 32px;
        height: 32px;
        fill: var(--c-svg);
        color: #fff;
        transition: fill 0.15s;
    }

    .nav-arrows svg:hover { fill: var(--c-svg-hover); }
    /* @End next + prev arrows */

    button {
        padding: 0.5rem 1rem;
        font-family: Karla, var(--font-generic);
        font-size: 1.8rem;
        color: #fff;
        background-color: var(--c-svg);
        border: none;
        border-radius: 0.4rem;
        transition: background-color 0.3s;
    }

    /* Code styling */
    pre {
        position: relative;
        margin: 5px 10px 20px;
        padding: 0;
        overflow: auto;
        /* background: rgba(#c8d1cf, 0.15); */
        white-space: normal;
        font-size: 1.5rem;
        border: 1px solid rgb(0, 34, 75);
    }

    pre[rel] {
        padding-top: 33px;
    }

    pre::before {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        padding: 0.8rem 0;
        text-indent: 1.5rem;
        color: #fff;
        font-weight: 600;
        font-size: 133%;
        content: attr(rel);
        background-color: var(--c-svg);
    }

    code {
        display: block;
        overflow: auto;
        margin: 0;
        padding: 1.5rem;
        white-space: pre;
        font-family: 'Roboto Mono';
        font-size: 90%;
    }
    /* @End code styling */
}

main:not(.page-home) {
    max-width: 96rem;
    margin: 0 auto;
    padding: 12rem 6vw 6vw;
}

main h1:first-of-type { margin-top: 0; }



/* **** HOMEPAGE **** */
.page-home {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

    .page-home section { padding: 6vh 4vw; }

    .page-home h1 {
        flex-basis: 100%;
        font-size: 2.2rem;
        color: var(--c-text);
        text-align: center;
    }

.svg-home-nav {
    display: block;
    width: 100%;
    height: auto;
    max-width: 700px;
    max-height: 450px;
}

    .svg-home-nav .photo-me     { clip-path: circle(0%); }
    .svg-home-nav .img-border   { stroke-dashoffset: 1010; }

    .svg-home-nav .nav rect {
        width: 0;
        height: 15px;
        fill: var(--c-svg);
    }

    .svg-home-nav .nav g {
        opacity: 0;
        filter: url(#blur);
    }

    .svg-home-nav .nav text {
        fill: var(--c-text);
        font-size: 50px;
        font-family: 'Roboto Mono';
    }


/* When javascript is disabled: */
.no-js .svg-home-nav .nav rect { width: 120px; }
.no-js .svg-home-nav .img-border { stroke-dashoffset: 0; }
.no-js .svg-home-nav .photo-me { clip-path: circle(43%); }

.no-js .svg-home-nav .nav g {
    opacity: 1;
    filter: none;
}
/* @End no-js */

/* **** @END HOMEPAGE **** */
/* ----------------------- */


/* **** BLOG PAGE *** */

.page-blog ul {
    margin: 0 0 1.5rem;
    padding: 0;
    list-style-type: none;
}

.page-blog ul li {
    position: relative;
    padding-left: 2.5rem;
}

.page-blog ul li::before {
    position: absolute;
    left: 0;
    top: 7px;
    display: block;
    width: 1rem;
    height: 1rem;
    content: "";
    background-color: var(--c-primary);
}

/* pie chart example */
.svg-piechart-example {
    width: 60vw;
    height: 40vh;
    margin: 4vh auto;
}

.svg-piechart-example svg {
    width: 100%;
    height: 100%;
}

.pie-main { fill: var(--c-pie-main); }
.pie-stroke { stroke: var(--c-primary); }
.pie-inner { fill: var(--c-pie-inner); }
.pie-text { fill: var(--c-pie-text); }
/* @End pie chart example */

/* bar chart example */
.svg-bar-example {
    max-width: 40rem;
    height: auto;
    margin-top: 4rem;
    margin-left: auto;
    margin-right: auto;
}

.svg-bar-example svg {
    width: 100%;
    height: 100%;
}

.bar-legend { font-size: 6px; }
/*.barchart_line { stroke: rgba($c-shadow, 0.5); }*/
.barchart_line { stroke: #ddd; }

.bar-6,
.bar-7 { stroke: var(--c-primary); }

/* @End bar chart example */

/* **** @END BLOG PAGE **** */
/* ----------------------- */


/* Page errors */
.page-error {
    max-width: 800px;
    margin: 0 auto;
}

.messages-block {
    position: relative;
    margin: 20px auto;
    width: 130px;
    padding: 35px 0;
    text-align: center;
    font-size: 5rem;
    color: #fff;
    background: var(--c-primary);
    border-radius: 10px;
}

/* Arrow */
.messages-block::before {
    position: absolute;
    transform: translateY(50%);
    left: -20px;
    display: block;
    content: "";
    width: 0;
    height: 0;
    border-width: 15px 20px 15px 0;
    border-style: solid;
    border-color: transparent var(--c-primary) transparent transparent;
}

.video-list dt {
    font-size: 2rem;
    color: var(--c-primary);
}

.video-list dd {
    font-size: 1.7rem;
    margin-left: 1.6rem;
    margin-bottom: 2rem;
}

/* About me */
.photos {
    position: relative;
    height: 286px;
}

.photo-side,
.photo-front {
    position: absolute;
    max-width: 100%;
    border: 10px solid #fff;
    box-shadow: 1px 1px 8px 0 var(--c-shadow);
}

.photo-side { top: 20px; }
    .photo-side:first-child {
        left: 0;
        transform: rotate(5deg);
    }

    .photo-side:nth-of-type(2) {
        left: 59%;
        transform: rotate(-5deg);
    }

.photo-front {
    top: 10px;
    left: 50%;
    transform: translateX(-50%);
}

/* 800 / 16 */
@media screen and (max-width: 50em) {
    .photo-side { display: none };
}

.list-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 8rem;
}


.svg-sprite {
    display: flex; /* avoid spacing */
    visibility: hidden;
}

/* ------------------------ */
/* PAGE LAYOUT BREAK POINTS */
/* 600 / 16 */
@media screen and (max-width: 37.5em) {
    body { font-size: 18px; }
    h1 { font-size: 31px; }
    h2 { font-size: 26px; }
    h3 { font-size: 24px; }
    h4 { font-size: 20px; }
    h5 { font-size: 18px; }
    h6 { font-size: 16px; }

    p {
        margin-top: 1rem;
        margin-bottom: 1rem;
    }

    h1,
    h2,
    h3 { line-height: 1.1em; }
}

/* 420 / 16 */
@media screen and (max-width: 26.25em) {
    main { padding: 2rem 8vw 10rem; }

    header {
        top: unset;
        bottom: 0;
        border-bottom: none;
        border-top: 1px solid #fff;
    }

    .nav-arrows:last-child { margin-bottom: 0; }
}
